<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
	
</head>
<body>
	<!-- Header -->
	<% if(locals.usuario != undefined){ %>
		<%- include('./partials/headerLogueado') %>
	<% } %>
	<% if(locals.usuario == undefined){ %>
		<%- include('./partials/headerNoLogeadoi') %>
	<% } %>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.User.nombre %></h2> 
			<p class="product-detail-description">
				<a href="product/agregar">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<a href="/users/profile/<%= producto.User.id %>"><%= producto.User.nombre %></a>
					<img src="<%= producto.nombre_foto_producto %>" alt="<%= producto.nombre_foto_producto %>" class="product-detail-img">
					<p class="product-detail-description">
                        <%= producto.descripcion_producto %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
                        <% for(i = 0; i < producto.Comentario.length; i++){ %>
						<article>
							<img src="<%= producto.Comentario[i].User.fotoPerfil %>" alt="">
							<div class="data">
								<p class="user">
								<strong><a href="/users/profile/<%= producto.Comentario[i].User.id %>"><%= producto.Comentario[i].User.nombre %></a></strong>
								<%= producto.Comentario[i].texto_comentario %>
							</p>
							</div>
						</article>
                        <% } %>
					</section>
					<form class="form" action="/producto/nuevoComentario/<%= producto.id %>" method="POST">
						<input class="form-input" type="text" name="comenta" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>